body {
  margin: 0;
}





#page-service {
  #cy {
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    top:110px;
    z-index: 999;
  }

  .service {
    background-color: red;
  }
}